* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  overflow-x: hidden;
}
.card-container{
  margin: 2vh 5vw ;
}
.card{
  width: fit-content;
  max-width: 540px;
  box-shadow: 2px #000000;
}
.card img {
  width: fit-content;
  max-width: 100%;
  height: 300px;
  padding: 10px;
}

.card-title, .nav-link{
  color: #ffbb00;
}

small{
  display: flex;
  justify-content: space-between;
}
small p{
  color: #ffbb00;
}

.nav-link{
  text-decoration: none;
  background: none;
  transition: 0.2s all ease-in-out;
  border: none;
}
.nav-link:hover{
  border-bottom: 2px solid #ffbb00;
  color: #ffbb00;
}


